<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    edit music here
    <form action="/admin/editMusic/<%=data.id%>" method="POST">
        Title:<br>
        <input type="text" name="title" value="<%=data.title%>">
        <br>
        Category:<br>
        <input type="text" name="category" value="<%=data.category%>">
        <br><br>
        Artist:<br>
        <input type="text" name="artist" value="<%=data.artist%>">
        <br><br>
 
        <input type="submit" value="Submit">
      </form> 

</body>
</html>